Repository primer/design, pull requests merged in 2023-04, with the labels that each got.

#466 Update the link to the accessibility annotations file
  content/guides/accessibility/tools.mdx
Labels: a11y design

#404 Automate figma documentation
  content/components/action-bar.mdx
  content/components/action-list.mdx
  content/components/action-menu.mdx
  content/components/anchored-overlay.mdx
  content/components/autocomplete.mdx
  content/components/avatar-pair.mdx
  content/components/avatar-stack.mdx
  content/components/avatar.mdx
  content/components/branch-name.mdx
  content/components/breadcrumbs.mdx
  content/components/button-group.mdx
  content/components/button.mdx
  content/components/checkbox-group.mdx
  content/components/checkbox.mdx
  content/components/comment-box.mdx
  content/components/counter-label.mdx
  content/components/dialog.mdx
  content/components/filter-input.mdx
  content/components/flash.mdx
  content/components/form-control.mdx
  content/components/heading.mdx
  content/components/icon.mdx
  content/components/link.mdx
  content/components/page-header.mdx
  content/components/popover.mdx
  content/components/progress-bar.mdx
  content/components/radio-group.mdx
  content/components/radio.mdx
  content/components/segmented-control.mdx
  content/components/select.mdx
  content/components/text-input-with-tokens.mdx
  content/components/text-input.mdx
  content/components/textarea.mdx
  content/components/toggle-switch.mdx
  content/components/token.mdx
  gatsby-node.js
  src/components/figma-component-playground.js
  src/components/figma-property-preview.js
  src/components/figma-property-table.js
  src/layouts/component-layout.tsx
  src/layouts/figma-component-layout.tsx
  src/layouts/rails-component-layout.tsx
  src/layouts/react-component-layout.tsx
  yarn.lock
Labels: figma

#469 Fix Figma layout missing Rails tabs
  content/components/relative-time.mdx
  src/layouts/figma-component-layout.tsx
Labels: type: bug 🐞, figma
